kiran-ovo.me, www.kiran-ovo.me {
  encode zstd gzip

  root * /srv/kiran-blog/current
  try_files {path} {path}/ {path}.html
  file_server

  header {
    X-Content-Type-Options nosniff
    X-Frame-Options SAMEORIGIN
    Referrer-Policy strict-origin-when-cross-origin
    Permissions-Policy "camera=(), microphone=(), geolocation=()"
    -Server
  }

  log {
    output stdout
    format console
  }
}
